@import '../../../styles/breakpoints.scss';
@import '../../../styles/theme.scss';

.work {
  &__item {
    &-content {
      padding-top: 5em;
      padding-left: 0em;
      width: 80%;
      @include respond-to(tablet-down) {
        width: 100%;
      }

      &-info {
        display: grid;
        column-gap: 5em;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        width: 100%;

        @include respond-to(phone-down) {
          grid-template-columns: repeat(auto-fill, minmax(6em, 2fr));
        }
      }

      &-details {
        display: table-row;
        width: 100%;
      }

      &-logo {
        display: block;
        width: 100%;
        max-width: 220px;
        @include respond-to(tablet-down) {
            max-width: 100px;
          }
    

        img {
          max-height: 50px;
        }
      }
    }

    &-projects {
      display: block;
    }

    &-ul {
      display: grid;
      grid-column-gap: 10%;
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      margin-left: 0;
    }

    &-li {
      // background-color: $theme-default-light;
      border-bottom: 2px solid $theme-default-splash;
      // border-radius: 3px;
      padding: 2px;
      text-align: center;
      padding-right: 0;
      font-size: 0.8em;
      a {
      color: $theme-default-night;
        text-decoration: none;
      }
    }
  }
}
