@import '../../../styles/breakpoints.scss';
@import '../../../styles/theme.scss';

.details {

  a {
    color: $theme-default-light;
  }
  &__toplevel {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    @include respond-to(phone-down) {
      display: block;
    }
  }
  &__employer {
    width: auto;
    padding-right: 10px;
    max-width: 150px;

    img {
      max-height: 20px;
      width: auto;
    }
  }
}


.theme {
  &__mode {
    &--day {
      .details a {
        color: $theme-day-dark;
      }
    }
  }
}