@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.portfolio {
  height: auto;
  z-index: 1;
  @include respond-to(tablet-down) {
    height: auto;
  }

  &__table {
    height: auto;
    width: 100%;
    @include respond-to(tablet-down) {
      height: auto;
      overflow: visible;
    }
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }
  &__wrapper {
    display: block;
    height: auto;
    margin: 0 auto;
    padding-left: 0;
    position: relative;
    width: 80%;

    @include respond-to(tablet-down) {
      box-shadow: none;
      height: auto;
      padding: 0 6.2em;
      width: 100%;
      overflow: visible;
    }

    @include respond-to(phone-down) {
      padding: 2em;
    }
  }

  .sectionTitle {
    margin-top: -1.6em;
    z-index: 2;
    @include respond-to(tablet-down) {
      top: 30px;
      margin-right: 3.2em;
    }
    @include respond-to(phone-down) {
      top: 17px;
    }

  }

  &__content {
    color: $theme-default-light;
    display: grid;
    column-gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    max-width: 100%;
    margin: 0 auto;
    padding: 0em 1em 0;

    @include respond-to(tablet-down) {
      max-width: 100%;
      padding: 0;
      grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    }

    @include respond-to(phone-down) {
      display: block;
    }
  }

  &__item {
    padding-bottom: 2em;
    vertical-align: top;
  }
}


// Theme Mode

.theme {
  &__mode {
    &--day {
      .portfolio__content {
        color: $theme-day-dark;
      }
    }
  }
}
