@mixin respond-to($breakpoint) {
    @if $breakpoint == "phone-down" {
     @media (max-width: 600px) {
     @content;
    }
   }
 
    @if $breakpoint == "tablet-down" {
     @media (max-width: 992px) {
     @content;
    }
   }
 
 @if $breakpoint == "desktop-down" {
     @media (max-width: 1200px) {
     @content;
    }
   }
 
 @if $breakpoint == "widescreen-down" {
     @media (max-width: 1499px) {
     @content;
    }
   }
   @else if $breakpoint == "phone-up" {
      @media (min-width: 601px) {
         @content;
     }
   }
   @else if $breakpoint == "tablet-up" {
      @media (min-width: 993px) {
         @content;
     }
   }
   @else if $breakpoint == "desktop-up" {
      @media (min-width: 1201px) {
         @content;
     }
   }
   @else if $breakpoint == "widescreen-up" {
      @media (min-width: 1500px) {
         @content;
     }
   }
 }