

// Variables
$theme-default-splash: #46B57A;
$theme-default-night: #151414;
$theme-default-overcast: #707070;
$theme-default-mist: rgb(190, 190, 190);
$theme-default-light: #ffffff;

$theme-day-light: #e7eff3;
$theme-day-dark: #034256;
$theme-day-splash: #f1b50d;


.theme {
    &__default {
        &--splash {
            color: $theme-default-splash;
        }
    }

    
}

// Theme mode day
.theme {
    &__mode {
        &--day {
            .theme__mode-btn {
                color: $theme-day-splash;
            }
        }
    }
}