

// Variables
$theme-default-splash: #46B57A;
$theme-default-night: #151414;
$theme-default-overcast: #707070;
$theme-default-mist: rgb(190, 190, 190);
$theme-default-light: #ffffff;

$theme-day-light: #e7eff3;
$theme-day-dark: #034256;


.theme {
    &__default {
        &--splash {
            color: #46B57A;
        }
    }

    &__mode-btn {
        background: transparent;
        border: 0;
        bottom: 1em;
        color: $theme-default-splash;
        position: fixed;
        font-size: 0.7em;
        font-weight: bold;
        text-align: left;
        padding: 0.2em;
        left: 1em;
        z-index: 6;
    }
}