@import '../../styles/theme.scss';
@import '../../styles//breakpoints.scss';

.skills {
    // background-color: $theme-default-night;
    color: $theme-default-light;

    &__wrapper {
        padding-top: 2em;

    @include respond-to(tablet-down) {
        padding: 2em;
      }
    }

    &__content {
        display: table;
        min-height: 100vh;
        width: 80%;
        margin: 0 auto;
        padding-top: 2em;

        &-table {
            display: table-cell;
            width: 100%;
            vertical-align: middle;

            &-grid{
                display: grid;
                column-gap: 10em;        
                grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));

                &-col {
                    padding-right: 3em;
                }
            }
        }
        @include respond-to(tablet-down) {
            display: block;
            width: 100%;
        }
    }
    &__ul {
        margin-left: 0;
        margin-bottom: 1em;
        list-style: none;
    }

    &__li {    
        color: $theme-default-light;
        font-size: 0.9em;
        line-height: 1.5em;
        font-weight: normal;
        margin-bottom: 0.8em;
        > ul {
            margin-top: 0;
        }
    }
}


// Theme Mode

.theme {
    &__mode {
      &--day {
        .skills__li {
          color: $theme-day-dark;
        }
      }
    }
  }