@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.logo {
  animation: logoAnimation 3s;
  border: 1px solid $theme-default-splash;
  color: $theme-default-splash;
  font-size: 2.5em;
  font-weight: bold;
  position: fixed;
  left: 0.5em;
  margin-left: 20%;
  top: 0.5em;
  padding: 0.5em;
  z-index: 3;
  &:hover {
    margin-top: 0.1em;
    transition: all 0.05s;
  }

  @include respond-to(tablet-down) {
    display: block;
    height: 50px;
    left: 0.5em;
    margin-left: 0;
    padding: 0.2em;
    top: 0.5em;
    width: 50px;
  }

  &__img {
    width: 100%;
    max-width: 90px;
  }
}

@keyframes logoAnimation {
  0% {
    border-color: transparent;
  }
  

  100% {
    border-color: $theme-default-splash;
  }
}
