@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.contact {
  &__form {
    padding-top: 1em;
    margin-bottom: 1em;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    input, textarea {
      display: block;
      width: 100%;
      padding: 0.3em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border: none;
    }
  }
  &__wrapper {
    background-color: $theme-default-night;
    padding-bottom: 0;
    padding-top: 0;
  }

  &__button {
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    color: orange;
    padding: 1em 0;
    &:hover {
      border-bottom-color: $theme-default-light;
      transition: all 0.3s;
    }
  }
  &__content {
    display: table;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;

    &-details {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20%;
      padding-right: 20%;

      @include respond-to(tablet-down) {
        padding-right: 2em;
        padding-left: 2em;
      }

      @include respond-to(phone-down) {
        padding-right: 0;
        padding-left: 0;

        h3 {
          font-size: 1em;
        }
      }
    }
  }

  &__list {
    list-style: none;
    margin-left: 0;
    padding-top: 2em;

    img {
      width: 100%;
      max-width: 30px;
    }
    &-items {
      display: block;

      &--connect {
        padding: 10px;
        display: inline-block;

        a {
          top: 0;
          position: relative;
          &:hover {
            transition: all 0.1s;
            top: 1px;
            position: relative;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .sectionTitle {
    display: block;
    float: none;
    font-size: 3em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 2em;
    position: relative;
    top:0;

    @include respond-to(phone-down) {
      font-size: 2em;
      top: 1.4em;
    }
  }
}
