@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.contact {
  color: $theme-default-light;
  padding: 2em;
  &__form {
    padding-top: 1em;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    input, textarea {
      display: block;
      width: 100%;
      padding: 0.3em;
      margin-top: 0.5em;
      margin-bottom: 1em;
      border: none;
    }
    &-fields {
      display: grid;
      grid-column-gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }
  }
  &__wrapper {
    // background-color: $theme-default-night;
    padding: 2em;
  }

  &__button {
    background: none;
    border: 1px solid $theme-default-light;
    text-transform: uppercase;
    color: $theme-default-light;
    padding: 1em 2em;
    display: block;
    position: relative;
    margin: 0 auto;
    &:hover {
      background: $theme-default-light;
      color: $theme-default-splash;
      transition: all 0.3s;
    }
  }
  &__content {
    display: table;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;

    &-details {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20%;
      padding-right: 20%;

      @include respond-to(tablet-down) {
        padding-right: 2em;
        padding-left: 2em;
      }

      @include respond-to(phone-down) {
        padding-right: 0;
        padding-left: 0;

        h3 {
          font-size: 1em;
        }
      }
    }
  }

  &__list {
    list-style: none;
    margin-left: 0;
    padding-top: 2em;

    img {
      width: 100%;
      max-width: 50px;
    }
    &-items {
      display: block;

      &--connect {
        padding: 10px;
        display: inline-block;

        a {
          top: 0;
          position: relative;
          &:hover {
            transition: all 0.1s;
            top: 1px;
            position: relative;
            opacity: 0.8;
          }
        }
      }
    }
  }



  // Component <SectionTitle /> from '/components/typography/sectionTitle/'

  .sectionTitle {
    display: block;
    float: none;
    font-size: 3em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 2em;
    position: relative;
    top:0;

    @include respond-to(phone-down) {
      font-size: 2em;
      top: 1.4em;
    }
  }
}



// Theme Mode

.theme {
  &__mode {
    &--day {
      .contact {
        color: $theme-day-dark;
        &__button {
          background: $theme-day-dark;
        }
      }
    }
  }
}