@import '../../../styles/theme.scss';
@import '../../../styles/breakpoints.scss';

.filter {
  position: sticky;
  display: block;
  padding: 10px;
  margin-top: 0em;
  margin: 0 auto;
  text-align: center;
  top: 0em;
  height: auto;
  max-width: 900px;
  z-index: 3;

  @include respond-to(tablet-down) {
    visibility: hidden;
    display: none;
  }

  &__button {
    background: none;
    border: none;
    color: $theme-default-light;
    font-size: 0.7em;
    font-weight: bold;
    height: 100%;
    padding-left: 0;
    padding-bottom: 0.5em;
    text-transform: lowercase;
    text-align: left;
    width: auto;
    cursor: pointer;
    &:hover {
      color: $theme-default-night;
      transition: all 0.2s;
    }
  }

  &__title {
    font-size: 0.5em;
    margin-left: -1em;
    padding: 0.3em 1em;
  }

  &__list {
    display: block;
    height: auto;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    vertical-align: middle;
  }

  &__item {
    margin-right: 1em;
    display: inline-block;

    a {
      text-decoration: none;
      background: $theme-default-splash;
      padding: 0.4em 1em 0.5em;
      border-radius: 2px;
    }
  }
}

input.filter__toggle-input {
  border-radius: 0;
  background: black;
}

// Theme
.theme {
  &__mode {
    &--day {
        .filter__button {
            &:hover {
                color: $theme-day-dark;
            }
        }
      .filter__title {
        color: $theme-day-dark;
      }

      .filter__item {
        a {
          background: $theme-day-splash;
        }
      }
    }
  }
}
