@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.training {
  color: $theme-default-light;

  &__wrapper {
    padding-top: 0;

    @include respond-to(tablet-down) {
      padding: 0 1em;
    }
  }

  &__table {
    display: table;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
    @include respond-to(tablet-down) {
      padding-top: 5em;
    }

    &-cell {
      display: table-cell;
      vertical-align: middle;
      @include respond-to(phone-down) {
        vertical-align: top;
      }
    }
  }
  &__content {
    margin: 0 auto;
    position: relative;
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(32em, 1fr));

    @include respond-to(tablet-down) {
      width: 100%;
    }

    &-education {
      width: 100%;
      padding-bottom: 2em;
    }
  }

  &__logo {
    width: auto;
    max-height: 70px;
    @include respond-to(tablet-down) {
        padding-bottom: 1em;
    }
  }

  &__title {
    padding-top: 1em;
    padding-bottom: 1em;
    @include respond-to(tablet-down) {
        font-size: 0.8em;
    }
  }
}
