@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.nav {
  display: block;
  position: relative;
  z-index: 2;

  &__widget {
    animation: slideInNav;
    animation-duration: 0.6s;
    bottom: 0;
    font-size: 0.8em;
    top: 0;
    right: 2em;
    display: table;
    height: 100vh;
    position: fixed;
    @include respond-to(tablet-down) {
      display: none;
      animation-duration: 0.3s;
    }

    .nav__button {
      border-bottom-color: $theme-default-light;
      @include respond-to(tablet-down) {
        font-size: 1.5em;
      }
    }
    &.open {
      background: #191919f2;
      display: table;
      position: fixed;
      height: 100vh;
      width: 100%;
      visibility: visible;
      right: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__hamburger {
    background: transparent;
    border: none;
    color: $theme-default-light;
    font-size: 0.6em;
    font-weight: bold;
    height: 20px;
    width: 20px;
    display: none;
    outline: none;
    position: fixed;
    right: 2em;
    top: 2em;
    text-align: center;
    visibility: hidden;
    z-index: 2;
    &:focus {
      outline: none;
    }
    @include respond-to(tablet-down) {
      display: block;
      visibility: visible;
    }


    &-bars {
      background: $theme-default-splash;
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
      transition: all 0.1s;
      &--top {
          left: 0;
          top: 0;
      }
      &--middle {
          top: 9px;
          left: 0;
          bottom: 9px;
      }
      &--bottom {
        left: 0;
          bottom: 0;
      }
    }
    &.open {
      .nav__hamburger-bars--top {
          transform: rotate(45deg);
          top: 9px;
          width: 20px;
          left: 0px;
          transition: all 0.1s;
      }
      .nav__hamburger-bars--middle {
          display: none;
      }
      .nav__hamburger-bars--bottom {
          transform: rotate(-45deg);
          top: 9px;
          width: 20px;
          left: 0px;
          transition: all 0.1s;
      }
    }
  }

  &__list {
    display: table-cell;
    list-style: none;
    text-align: right;
    vertical-align: middle;
    @include respond-to(tablet-down) {
      width: 100%;
      vertical-align: middle;
      text-align: center;
    }
    &--item {
      margin-bottom: 2em;
      @include respond-to(tablet-down) {
        margin-bottom: 3.5em;
      }
    }
  }

  &__button {
    background: none;
    border: 0;
    border-bottom: 3px solid $theme-default-light;
    color: $theme-default-splash;
    cursor: pointer;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    text-decoration: none;
  }

  
}

@keyframes slideInNav {
  0% {
    opacity: 0;
    right: -2em;
  }

  100% {
    opacity: 1;
    right: 2em;
  }
}

@keyframes bouncyBurger {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
