@import '../../styles/theme.scss';
@import '../../styles/breakpoints.scss';

.work {
  color: $theme-default-light;
  a {
    color: $theme-default-light;
  }
  &__wrapper {
    @include respond-to(tablet-down) {
      margin-left: auto;
      padding: 2em;
    }
  }

  &__content {
    column-gap: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
    width: 70%;
    margin: 0 auto;
    @include respond-to(tablet-down) {
      grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
      width: 100%;
    }
    @include respond-to(phone-down) {
      display: block;
    }
  }
}


// Theme Mode

.theme {
    &__mode {
      &--day {
        .work {
          color: $theme-day-dark;
          a {
          color: $theme-day-dark;
          }
        }
      }
    }
  }